@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}


 
<div  style="align-items:center">
    <div class="col-md-12">
        <form method="post" asp-action="ForgotPassword" asp-controller="Account">

        

   
                <div class="card border-0 p-3 shadow border-top border-5 rounded">

                    <div class="card-header style=" align-items:center"">
                        <h2>Forgot Password</h2>
                    </div>

                    <div class="card-body">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="card-footer">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
       

 
        </form>
    </div>
</div>