@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div  style="align-items:center">
    <div class="col-md-12">
 
           
                <div class="card border-0 p-3 shadow border-top border-5 rounded">

                    <div class="card-header style=" align-items:center"">
                    <h2>Forgot Password Confirmation</h2>
                    </div>

                    <div class="card-body">
                    <p>
                        If you have an account with us, we have sent an email
                        with the instructions to reset your password.
                    </p>
                    </div>

                    <div class="card-footer">

                    <a href="https://accounts.google.com/b/0/AddMailService" class="btn btn-primary">Go To Your Email</a>
                    </div>
                </div>
            </div>
 
    
</div>
 