@{
    ViewData["Title"] = "Registration Successful";
}
<div style="text-align:center;margin:20px">
    <h1 style="text-align:center;color:green;center;margin:20px">
        Registration Successful
    </h1>
    <h5 style="text-align:center;margin:20px">
        Before you can Login, please confirm your email first <a href="https://accounts.google.com/b/0/AddMailService"><h4 style="color:blue;margin:20px">Vistit Your Email.</h4></a>
    </h5>
</div>


 