@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<div style="align-items:center;margin:30px">
    <h2>
        Your password is reset. Please click <a class="btn btn-outline-success" asp-action="Login" asp-controller="Account">here to login</a>
    </h2>
</div>
  
 