@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

  
    <h1 class="display-4">Welcome</h1>
    <h1 h class="navbar-brand">in Our <span style="color:black">Authentication</span> <b>System</b></h1>
</div>

 
